<div class='contract'>
  <h2>國外個別旅遊定型化契約</h2>
  <p>國外個別旅遊定型化契約書範本</p>
  <p>交通部觀光局112年9月8日觀業字第1123002067函修正，自112年9月15日生效</p>
  <p>（本契約審閱期間一日，<%= createdAt %> 由甲方攜回審閱）</p>

  <p>立契約書人</p>
  <p>旅客姓名 (以下稱甲方)：<%= travelerName %></p>
  <p>旅行社名稱 (以下稱乙方)：<%= agentName %></p>

  <h3>第一條（國外旅遊之定義）</h3>
  <p>本契約所謂國外旅遊，係指中華民國疆域以外其他國家或地區旅遊。</p>

  <h3>第二條（個別旅遊之內容）</h3>
  <ul>
    <li>行程內容：<%= itinerary %></li>
    <li>住宿資訊：<%= hotel %></li>
    <li>航班資訊：<%= flightInfo %></li>
  </ul>

  <h3>第三條（集合及出發）</h3>
  <p>出發日期：<%= departureDate %> <%= departureTime %></p>

  <h3>第四條（旅客資料）</h3>
  <p>姓名：<%= travelerName %></p>
  <p>身分證號：<%= idNumber %></p>
  <p>電話：<%= phone %></p>
  <p>地址：<%= address %></p>
  <p>業務員：<%= salesName %></p>

  <h3>第五條（簽名）</h3>
  <p>甲方簽名：</p>
  <div>
    <%- signatureImgTag %>
  </div>
</div>